.block_list {
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    width: calc(100% - 190px - 5px);

    padding: 15px;

    background: rgba(255, 255, 255, 0.6);
}

ol {
    list-style: none;
}

.plate_information {
    margin: 5px auto;
    padding: 10px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plate_name {
    font-size: 18px;
    text-align: center;
}

.moderator {
    font-size: 10px;
    text-align: right;
}

.plate_specification {
    padding: 10px;
    text-indent: 2em;

    font-size: 13px;
}

.view_details {
    display: block;
    margin: 10px auto 0 auto;
    /*border: 2px solid black;*/

    align-items: center;
    text-align: center;
    color: black;

    user-select: none;
    cursor: pointer;
}

.view_details a {
    color: black;
    text-decoration: none;

    font-size: 13px;
}

.click {
    display: flex;
    justify-content: right;
    text-align: center;
    font-size: 10px;
}

.num {
    margin: 0px 10px 0 0;
}