        .col-md-6 {
            text-align: center;
        }

        .poet_container {
            font-size: 1.2em;
            margin-top: 50px;
            text-align: center;
        }

        .poet_name {
            font-size: 80%;
        }