* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-image: url(../img/lighthouse.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation_bar {
    width: 100%;
    height: 50px;
    background-color: rgba(51, 51, 51, 0.4);

    /* 相对定位 */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left-logo {
    width: 180px;
    color: white;
    /* 绝对定位 */
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-function {
    width: 130px;

    position: absolute;
    right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-function a {
    color: white;
    text-decoration: none;
}