* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
    background: url(../img/bg3.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header {
    background: #2c3a47;
    padding: 60px 40px;
}

.pic {
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #ffffff, #000000);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
    25% {
        background-position: left bottom;
    }

    50% {
        background-position: right bottom;
    }

    75% {
        background-position: right top;
    }

    100% {
        background-position: left top;
    }
}

.pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    color: #f2f2f2;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}

.sm {
    justify-content: center;
    margin: 20px 0;
}

.contact-btn,
.changePasswordBtn {
    display: inline-block;
    padding: 12px 50px;
    color: #e66767;
    border: 2px solid #e66767;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
}


.contact-btn:hover {
    background: #e66767;
    color: #f2f2f2;
}

.changePasswordBtn:hover {
    background: #e66767;
    color: #f2f2f2;
}

.passwordForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordForm {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.passwordForm label,
.passwordForm input[type="password"] {
    display: block;
    margin-bottom: 10px;
}

.passwordForm label {
    color: aqua;
}

.passwordForm span {
    display: block;
    color: #ff2d2d;
}

.passwordForm input[type="password"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
}

.passwordForm button {
    margin-top: 10px;
    padding: 5px 10px;
}

#cancelPasswordBtn {
    background-color: #ddd;
}

#savePasswordBtn {
    background-color: rgba(151, 151, 151, 0.5);
    color: white;
}