.blog-edit-container {
    width: 900px;
    height: calc(100% - 50px);
    margin: 0 auto;
}

.title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    height: 40px;
    width: 800px;
    text-indent: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

#submit {
    height: 40px;
    width: 100px;

    color: white;
    background: orange;
    outline: none;
    border: none;
    border-radius: 10px;
}

#editor {
    border-radius: 10px;
    opacity: 80%;
}

.backToHomeBtn {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 0;
    display: flex;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

.backToHomeBtn:active {
    transform: scale(0.9);
    /* 点击缩小按钮 */
}

.BtnImg {
    width: 100%;
    /* 图像大小根据按钮大小调整 */
    height: auto;
    border-radius: 50%;
    display: block;
}