{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>盛唐诗</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>

<body>
<header id="header">
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'index' %}">
                    <h1><img src="{% static 'img/logo.png' %}" alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{% url 'index' %}">首页</a></li>
                    <li class="dropdown"><a href="#">朝代 <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li class="dropdown"><a href="{% url 'dynasty' %}">唐代<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'chutang' %}">风神初振初唐诗</a></li>
                                    <li><a href="{% url 'shengtang' %}">律骨兼备盛唐诗</a></li>
                                    <li><a href="{% url 'zhongtang' %}">创新求变中唐诗</a></li>
                                    <li><a href="{% url 'wantang' %}">诗国余晖晚唐诗</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">宋代<i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'wudai' %}">展苞初放五代词</a></li>
                                    <li><a href="{% url 'beisong1' %}">格高韵远北宋词（一）</a></li>
                                    <li><a href="{% url 'beisong2' %}">格高韵远北宋词（二）</a></li>
                                    <li><a href="{% url 'nansong' %}">极其工变南宋词</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">辽代<i class="fa fa-angle-down"></i></a></li>
                            <li class="dropdown"><a href="#">金代<i class="fa fa-angle-down"></i></a></li>
                            <li class="dropdown"><a href="#">元代<i class="fa fa-angle-down"></i></a></li>
                            <li class="dropdown"><a href="#">明代<i class="fa fa-angle-down"></i></a></li>
                            <li class="dropdown"><a href="#">清代<i class="fa fa-angle-down"></i></a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">文人骚客 <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a href="{% url 'libai' %}">李白</a></li>
                            <li><a href="{% url 'dufu' %}">杜甫</a></li>
                            <li><a href="{% url 'dongpo' %}">东坡</a></li>
                            <li><a href="{% url 'jiaxuan' %}">稼轩</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'write:selfWrite' %}">挥毫泼墨</a></li>
                    <li><a href="{% url 'discuss' %}">推心置腹</a></li>
                    <li><a href="{% url 'question:find' %}">孰能无惑</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">律骨兼备盛唐诗</h1>
                        <p>精丽华美、雄健清新、兴象超妙、韵律和谐</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="company-information" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="about-us">
                <div class="col-sm-7 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2 class="bold">时代特色</h2>
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="{% static 'img/dynasty/shengtang.jpg' %}" class="img-responsive" alt="">
                            <img src="#" class="img-responsive" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h3 class="top-zero">律骨兼备盛唐诗</h3>
                            <p>
                                盛唐诗歌。盛唐诗人在陈子昂和沈、宋的基础上，进一步把正确的方向和完美的形式结合起来。玄宗开元、天宝间，诗歌全面繁荣，名家大量出现。他们的作品精丽华美、雄健清新、兴象超妙、韵律和谐，表现了时代共同的艺术特色。边塞诗和田园山水诗在盛唐诗中比重很大搜索。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-info">
                    <h2>望月怀远</h2>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item branded folio">
                    <div class="portfolio-wrapper">
                        <div class="portfolio-single">
                            <div class="portfolio-thumb">
                                <img src="{% static 'img/dynasty/shengtang_wangyuehuaiyuan.jpg' %}" class="img-responsive" alt="">
                            </div>
                        </div>
                                <img src="#" class="img-responsive" alt="">
                            </div>
                        </div>

                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
                                <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                <li><a href="images/portfolio/2.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="map-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">作品赏析</h2>
            </div>
            <div class="col-md-6">
                <ul id="tab2" class="nav nav-pills">
                    <li class="active"><a href="#tab2-item1" data-toggle="tab">望月怀远</a></li>
                    <li><a href="#tab2-item2" data-toggle="tab">送魏万之京</a></li>
                    <li><a href="#tab2-item3" data-toggle="tab">与诸子登岘山</a></li>
                    <li><a href="#tab2-item4" data-toggle="tab">山居秋暝</a></li>
                    <li><a href="#tab2-item5" data-toggle="tab">燕歌行</a></li>
                    <li><a href="#tab2-item6" data-toggle="tab">走马川行奉送出师西征</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab2-item1">
                        <p>海上生明月，天涯共此时。</p>
                        <p>情人怨遥夜，竟夕起相思。</p>
                        <p>灭烛怜光满，披衣觉露滋。</p>
                        <p>不堪盈手赠，还寝梦佳期。 </p>
                    </div>
                    <div class="tab-pane fade" id="tab2-item2">
                        <p>朝闻游子唱离歌，昨夜微霜初渡河。</p>
                        <p>鸿雁不堪愁里听，云山况是客中过。</p>
                        <p>关城树色催寒近，御苑砧声向晚多。</p>
                        <p>莫见长安行乐处，空令岁月易蹉跎。 </p>
                    </div>
                    <div class="tab-pane fade" id="tab2-item3">
                        <p>人事有代谢，往来成古今。</p>
                        <p>江山留胜迹，我辈复登临。</p>
                        <p>水落鱼梁浅，天寒梦泽深。</p>
                        <p>羊公碑字在，读罢泪沾襟。 </p>
                    </div>
                    <div class="tab-pane fade" id="tab2-item4">
                        <p>空山新雨后，天气晚来秋。</p>
                        <p>明月松间照，清泉石上流。</p>
                        <p>竹喧归浣女，莲动下渔舟。</p>
                        <p>随意春芳歇，王孙自可留。 </p>
                    </div>
                    <div class="tab-pane fade" id="tab2-item5">
                        <p>汉家烟尘在东北，汉将辞家破残贼。男儿本自重横行，天子非常赐颜色。</p>
                        <p>摐金伐鼓下榆关，旌旆逶迤碣石间。校尉羽书飞瀚海，单于猎火照狼山。</p>
                        <p>山川萧条极边土，胡骑凭陵杂风雨。战士军前半死生，美人帐下犹歌舞。</p>
                        <p>大漠穷秋塞草腓，孤城落日斗兵稀。身当恩遇恒轻敌，力尽关山未解围。</p>
                        <p>铁衣远戍辛勤久，玉箸应啼别离后。少妇城南欲断肠，征人蓟北空回首。</p>
                        <p>边庭飘飖那可度，绝域苍茫更何有。杀气三时作阵云，寒声一夜传刁斗。</p>
                        <p>相看白刃血纷纷，死节从来岂顾勋。君不见沙场征战苦，至今犹忆李将军。</p>
                    </div>
                    <div class="tab-pane fade" id="tab2-item6">
                        <p>君不见走马川行雪海边，平沙莽莽黄入天。</p>
                        <p>轮台九月风夜吼，一川碎石大如斗，随风满地石乱走。</p>
                        <p>匈奴草黄马正肥，金山西见烟尘飞，汉家大将西出师。</p>
                        <p>将军金甲夜不脱，半夜军行戈相拨，风头如刀面如割。</p>
                        <p>马毛带雪汗气蒸，五花连钱旋作冰，幕中草檄砚水凝。</p>
                        <p>虏骑闻之应胆慑，料知短兵不敢接，车师西门伫献捷。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>